# Capstone EDA
## Questions:
* What does generation look like over time?
* What types of generation/fuel type are growing/shrinking?
* What states are growing the most and least in terms of consumption?
* When did these changes occur?

In [12]:
%pylab inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

Populating the interactive namespace from numpy and matplotlib

In [13]:
df1 = pd.read_csv('seds_all_states_long.csv')

In [22]:
df1.head(100)

              value
state
AK     3.803730e+08
AL     1.178115e+09
AR     6.390561e+08
AZ     6.985246e+08
CA     5.068910e+09
CO     7.342820e+08
CT     5.544331e+08
DC     1.084280e+08
DE     1.851258e+08
FL     2.127647e+09
GA     1.465358e+09
HI     2.032838e+08
IA     7.451721e+08
ID     2.628069e+08
IL     2.702033e+09
IN     1.746148e+09
KS     7.608647e+08
KY     1.042958e+09
LA     2.901219e+09
MA     1.049533e+09
MD     8.561805e+08
ME     2.901402e+08
MI     2.007914e+09
MN     1.015064e+09
MO     1.116010e+09
MS     6.877551e+08
MT     2.785899e+08
NC     1.333974e+09
ND     2.485428e+08
NE     4.130115e+08
NH     1.850767e+08
NJ     1.635973e+09
NM     4.418150e+08
NV     3.060243e+08
NY     2.866849e+09
OH     2.677513e+09
OK     9.947638e+08
OR     6.494489e+08
PA     2.748337e+09
RI     1.553523e+08
SC     8.079072e+08
SD     1.678956e+08
TN     1.207222e+09
TX     7.659875e+09
UT     4.221566e+08
VA     1.250667e+09
VT     9.442257e+07
WA     1.256223e+09
WI     1.063682e+09
WV     5.835062e+08
WY     3.048629e+08

In [34]:
df1 = pd.read_csv('seds_all_states_long.csv')
df1 = df1.sort_values(['state','msn'])
df1 = df1[df1.value != 0].groupby(['year','state']).sum()
df1.index.names = ['year','state']
df1.columns = ['total_gen']
df1.head()

             total_gen
year state
1960 AK       867458.0
     AL     11081902.0
     AR      6054442.0
     AZ      4185564.0
     CA     50139109.0

In [4]:
df2 = pd.read_excel('annual_generation_state.xls', skiprows = 1)

In [5]:
df2.head(30)

,YEAR,STATE,TYPE OF PRODUCER,ENERGY SOURCE,GENERATION (Megawatthours)
0,1990,AK,Total Electric Power Industry,Total,5599506.0
1,1990,AK,Total Electric Power Industry,Coal,510573.0
2,1990,AK,Total Electric Power Industry,Hydroelectric Conventional,974521.0
3,1990,AK,Total Electric Power Industry,Natural Gas,3466261.0
4,1990,AK,Total Electric Power Industry,Petroleum,497116.0
5,1990,AK,Total Electric Power Industry,Wind,0.0
6,1990,AK,Total Electric Power Industry,Wood and Wood Derived Fuels,151035.0
7,1990,AK,"Electric Generators, Electric Utilities",Total,4493024.0
8,1990,AK,"Electric Generators, Electric Utilities",Coal,311960.0
9,1990,AK,"Electric Generators, Electric Utilities",Hydroelectric Conventional,974521.0
10,1990,AK,"Electric Generators, Electric Utilities",Natural Gas,2869638.0
11,1990,AK,"Electric Generators, Electric Utilities",Petroleum,336905.0
12,1990,AK,"Electric Generators, Electric Utilities",Wind,0.0
13,1990,AK,"Combined Heat and Power, Industrial Power",Total,840949.0
14,1990,AK,"Combined Heat and Power, Industrial Power",Natural Gas,596623.0
15,1990,AK,"Combined Heat and Power, Industrial Power",Petroleum,93291.0
16,1990,AK,"Combined Heat and Power, Industrial Power",Wood and Wood Derived Fuels,151035.0
17,1990,AK,"Combined Heat and Power, Commercial Power",Total,265533.0
18,1990,AK,"Combined Heat and Power, Commercial Power",Coal,198613.0
19,1990,AK,"Combined Heat and Power, Commercial Power",Petroleum,66920.0
20,1990,AL,Total Electric Power Industry,Total,79652133.0
21,1990,AL,Total Electric Power Industry,Coal,53658115.0
22,1990,AL,Total Electric Power Industry,Hydroelectric Conventional,10366507.0
23,1990,AL,Total Electric Power Industry,Natural Gas,1020714.0
24,1990,AL,Total Electric Power Industry,Nuclear,12051882.0
25,1990,AL,Total Electric Power Industry,Other Biomass,47503.0
26,1990,AL,Total Electric Power Industry,Other Gases,269476.0
27,1990,AL,Total Electric Power Industry,Petroleum,138089.0
28,1990,AL,Total Electric Power Industry,Wood and Wood Derived Fuels,2099847.0
29,1990,AL,"Electric Generators, Independent Power Producers",Total,27936.0

In [33]:
df2.columns = ['year','state','type','input_type','gen_by type']
df2.head()

,year,state,type,input_type,gen_by type
0,1990,AK,Total Electric Power Industry,Total,5599506.0
1,1990,AK,Total Electric Power Industry,Coal,510573.0
2,1990,AK,Total Electric Power Industry,Hydroelectric Conventional,974521.0
3,1990,AK,Total Electric Power Industry,Natural Gas,3466261.0
4,1990,AK,Total Electric Power Industry,Petroleum,497116.0

In [ ]:
dict = [{'code':''}]